<hr class="bg-gradient" style="height:11px;border-width:0; margin-top:0">

<header>
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous"> -->

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>

    <script>
        $(document).ready(function () {
            $('#list').click(function (event) { event.preventDefault(); $('#products .item').addClass('list-group-item'); });
            $('#grid').click(function (event) { event.preventDefault(); $('#products .item').removeClass('list-group-item'); $('#products .item').addClass('grid-group-item'); });
        });
    </script>

    <link href="/../assets/lib/slick/slick.css" rel="stylesheet">
    <link href="/../assets/lib/slick/slick-theme.css" rel="stylesheet">
</header>


<body>

    <!--PARTE PRINCIPAL-->

    <div class="">
        <div class="col-sm-4">
        </div>

        <!--LOGO INICIAL-->
        <div class="col-sm-12">
            <div class="brand">
                <div class="img-responsive b-logo " style="min-width: 100%;">
                    <a>
                        <img data-toggle="modal" data-target="#modalLogin" src="../../assets/img/mydateLogo.PNG">
                    </a>
                </div>
            </div>
            <br>
        </div>

        
    </div>

    <div class="container-fostrap">
        <div class="container">
        </div>
    </div>

    <!-- *** Perfil *** -->
    <section>
        <div class="sesion-perfil">
            <div class="">
                <div class="text-center">
                    <div class="col-sm-4">

                        <div class="text-left titulo-salas2" style="margin-left: 5%; margin-top: 2%;">Hola,
                            {{user.user_name}}
                            {{user.user_lastname}}</div><br>
                    </div>
                    <div class="ycol-sm-6">

                    </div>

                    <div>
                        <button type="button" class="btn btn-light pull-right logout borde  titulo-salas2" (click)="logout()">CERRAR
                            SESIÓN</button>
                    </div>

                    <br>
                    <br>
                </div>
                <br>
            </div>
        </div>
        <br>
        <br>
        <!-- *** #Perfil *** -->

        <!--CARRITO FLOTANTE-->

        <button (click)="generatePdf()">Open PDF</button>
       

    </section>
</body>